################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VipFitness-ADMIN/appsettings.json
/VipFitness-ADMIN/appsettings.Development.json
