<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <script src="~/Content/js/bootstrap.bundle.min.js"> </script>
    <link href="~/Content/Home/Home.css" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <button class="btn btn-outline-info" onclick="redirectToController('Home', 'Home')">Home</button><br />
        <button class="btn btn-outline-info" onclick="redirectToController('Home', 'Profile')">Profile</button><br />
        <button class="btn btn-outline-info" disabled>Disabled</button><br />
        <button class="btn btn-outline-info" onclick="redirectToController('Home', 'Users')">Kullanıcılar</button><br />
        <button class="btn btn-outline-info" onclick="redirectToController('Home', 'Trainings')">Antremanlar</button><br />
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <script>
        function redirectToController(controller, action) {
            window.location.href = "/" + controller + "/" + action;
        }
    </script>
</body>
</html>
